body {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 1px solid #606060;
    width: 75%;
    display: grid;
    place-items: center;
    text-align: center;
    grid-gap: 1em;
    grid-template-areas: 
        'header header header header header' 
        'query-body query-body query-body query-body query-body' 
        'run-btn run-btn run-btn run-btn run-btn' 
        'rquery-body rquery-body rquery-body rquery-body rquery-body' 
        'graph-body graph-body resprov-table resprov-table resprov-table' 
        'footer footer footer footer footer' ;
    grid-template-columns: repeat(5, 1fr);
}

h1 {
    padding: 0px;
    font-size: 6ex;
    height: 100%;
}

header { 
    grid-area: header;
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
    font-size: 100%;
	color : white;
	background-color : #707070;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    min-height: 150px;
    margin: auto;
    background: url('artifact.png') no-repeat 0 0 #707070;
}

.query-body { 
    grid-area: query-body;
    grid-column: 1 / 4;
    width: 80%
}

.run-btn {
    grid-area: run-btn; 
    grid-column: 1 / 4;
    display: inline-flex;
    place-items: center;
    gap: 10px;
}

.querybtn {
    background: url('query.png') no-repeat scroll 0 0 transparent;
}

input.querybtn {
    padding-left: 50px;
    font-size: 2ex;
}
.rquery-body { 
    grid-area: query-body;
    grid-column: 4 / 6;
    font-family: monospace;
    height: 100%;
    width: 100%;
    margin-right: 3ex;
    
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;

}

.tab button {
    width: 50%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    min-height: 50px;
    transition: 0.3s;
    white-space: nowrap;
    text-align: center;
}


.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    min-width: 50%;
    height: 450px;
    overflow: scroll;
    font-size: large;
} 

.tabcontent p {
    white-space: pre-wrap;
    text-align: left;
} 
    

.graph-body { 
    grid-area: graph-body; 
    border: 1px solid black;
    grid-column: 1 / 4;
    width: 80%;  
}

.resprov-table { 
    grid-area: resprov-table;
    grid-column: 4 / 6;
    height: 100%;
    width: 100%;
    vertical-align: top;
    margin-right: 3ex;
}

#resprov-table {
    width: 100%;
}

table, td {
    border: none;
    border-collapse: collapse;
    padding: 1px 4px;
    overflow-x:auto;
}

th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 1px 4px;
}

td.cell-btn {
    border: none; 
    display: inline-flex;
    vertical-align: center;
}

.button {
    grid-area: button;
    color: white;
    padding: 16px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    width:50;
    height:50;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button-example {
    text-align: left;
    background-color: white; 
    color: black;
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 2px solid burlywood;
    max-width: 130px;
    min-height: 90px;
    white-space: normal;
    text-align: center;
}

.button-example:hover {
    background-color: burlywood;
    color: white;
}

.examples-panel {
    text-align: left;
}

footer {
    grid-area: footer; 
    padding: 1em;
    grid-column: 1 / -1;
}

.alink {
    text-decoration: underline;
}
  
.alink:hover {
    color: #0000EE;
    background: #aad1fe;
    cursor: pointer;
}

.astat {
    text-decoration: underline;
}

.astat:hover {
    color: #0000EE;
    background: #aad1fe;
    cursor: pointer;
    text-decoration: underline;
}

.table-buttons {
    display: inline-flex;
    place-items: center;
    gap:10px;
}

.table-buttons button {
    font-size: 20px;
}

ion-icon {
    font-size: 20px;
    pointer-events :none;
}

.query {
    color: black;
}
  
.query em {
    font-style: normal;
    color: #87f736;
}

/* RDF Graph */
svg {
    width: 100%;
}

.marker {
    stroke: #999;
    fill:rgba(124,240,10,0);
}

.node {
    stroke: #fff;
    fill:rgb(233, 145, 44);
    stroke-width: 1.5px;
}

.node-selected {
    stroke: #fff;
    fill:#7ed5fc; /* rgb(70, 197, 255); */
    stroke-width: 1.5px;
}
.node-selected-click{
    stroke: #fff;
    fill:#87f736; /* rgb(70, 197, 255); */
    stroke-width: 1.5px;
}

.node-answer {
    stroke: rgb(0, 0, 0);
    fill:#7ed5fc; /* rgb(70, 197, 255); */
    stroke-width: 1.5px;
}

.node-answer-click {
    stroke: rgb(0, 0, 0);
    fill:#87f736; /* rgb(70, 197, 255); */
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .7;
    stroke-width: 1.5px;
}

.link-selected {
    stroke:#7ed5fc; /* rgb(70, 197, 255);   */
    stroke-opacity: 1;
    stroke-width: 1px;
}

.link-selected-click {
    stroke:#87f736; /* rgb(70, 197, 255);   */
    stroke-opacity: 1;
    stroke-width: 1px;
}

.node-text {
    font: 13px sans-serif;
    fill:black;
}

.link-text {
    font: 12px sans-serif;
    fill:grey;
}

.link-text-selected {
    font: 12px sans-serif;
    fill: #7ed5fc; /* rgb(70, 197, 255); */
}

.link-text-selected-click {
    font: 12px sans-serif;
    fill: #87f736; /* rgb(70, 197, 255); */
}

/* Editor properties */ 
.CodeMirror {border-top: 1px solid silver; 
    border-bottom: 1px solid silver; 
    width: 100%;
    height: 400px !important;
    border-right: 1px solid silver;
    text-align: left;
    font-size: large;
}

.CodeMirror-empty { outline: 1px solid #c22; color: #999 !important;  }
.CodeMirror-empty.CodeMirror-focused { outline: none; }


button.tablinks{
    font-size: 2.5ex;
    padding-left: 25px;
}